$blue: #006BC5;
html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 2em;
    margin: 0;
    padding: .5em 0em;
}
h2 {
    font-size: 1.5em;
    margin:0;
}
p {
    font-size: .87em;
}
section {
    height: 100vh;
    width: 100%;
}
.landing-section {
    display: flex;
    justify-content: center;
    align-items: center;


    .landing-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .contactButton {
        height: 3em;
        width: 21em;
        border-radius: 3em;
        margin-top: 2em;
        background-color: $blue;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        box-shadow: 0px 3px 6px rgba(0,0,0,.33);
    }

    .contactButton:hover {
        cursor: pointer;
    }
}
.about-section {
    background-color: $blue;
    color: white;
    .content-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .content-card {
        display: grid;
        grid-template-rows: .25fr .20fr .15fr .10fr auto;
        background-color: white;
        color: black;
        font-family: 'Montserrat-Medium', sans-serif;
        border-radius: 27px;
        font-size: 1em;
        width: 75%;
        height: 75%;
        align-self: center;
        padding: 1em;
        box-shadow: 0px 3px 6px rgba(0,0,0,.33);
    }
    img {
        width: 50%;
        height: auto;
        clip-path: circle(40% at center);
        justify-self: center;
        box-shadow: 0px 3px 6px rgba(0,0,0,.33);
    }
    ul {
        list-style-type: none;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}