html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #006BC5;
}

h1 {
  font-size: 1.75em;
  margin: 0;
  padding: .5em 0em;
}

h2 {
  font-size: 1.25em;
  margin: 0;
}

p {
  font-size: 0.87em;
}

section {
  height: 100vh;
  width: 100%;
}

.section-title {
  color: white;
}

.content-wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-section .emoji {
  font-size: 3.5em;
}

.landing-section .landing-card {
  background-color: white;
  padding: 2em;
  border-radius: 27px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.33);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.33);
}

.landing-section .landing-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-section .contactButton {
  width: 50%;
  border-radius: 3em;
  margin-top: 1em;
  background-color: #006BC5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.33);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.33);
}

.landing-section .contactButton:hover {
  cursor: pointer;
  -webkit-box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.33);
          box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.33);
}

.about-section {
  background-color: #006BC5;
}

.about-section .content-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .25fr .20fr .15fr .10fr auto;
      grid-template-rows: .25fr .20fr .15fr .10fr auto;
  background-color: white;
  color: black;
  font-family: 'Montserrat-Medium', sans-serif;
  border-radius: 27px;
  font-size: 1em;
  width: 75%;
  -ms-grid-row-align: center;
      align-self: center;
  padding: 1em;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.33);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.33);
}

.about-section .content-card ul {
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.about-section img {
  width: 50%;
  height: auto;
  -webkit-clip-path: circle(40% at center);
          clip-path: circle(40% at center);
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.33);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.33);
}

.experience-section .slider-wrap {
  width: 80%;
}

.experience-section .experience-card-wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience-section .experience-card {
  color: black;
  background-color: white;
  border-radius: 42px;
  height: 23.055em;
  width: 80%;
  text-align: left;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.33);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.33);
  padding: 1em;
}

.experience-section .experience-card .experience-card-content-wrap {
  margin: 1.5em;
}

.experience-section div:focus {
  outline: none;
}

@media screen and (max-width: 20em) {
  h1 {
    font-size: 1.25em;
    margin: 0;
    padding: .5em 0em;
  }
  h2 {
    font-size: 0.75em;
    margin: 0;
  }
  p {
    font-size: 0.5em;
  }
}
/*# sourceMappingURL=App.css.map */