$blue: #006BC5;
$pSize: .87em;
$h1Size: 1.75em;
$h2Size: 1.25em;
html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: $blue;
}
h1 {
    font-size: $h1Size;
    margin: 0;
    padding: .5em 0em;
}
h2 {
    font-size: $h2Size;
    margin:0;
}
p {
    font-size: $pSize;
}
section {
    height: 100vh;
    width: 100%;
}
.section-title {
    color: white;
    // background-color: red;
}
.content-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // display: grid;
    // grid-template-rows: 10% auto;
}

.landing-section {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-image: url('../../Content/Images/LandingBackground.svg');
    // background-repeat: no-repeat;
    // background-position-x: 0%;
    // background-size: 100%;
    .emoji {
        position: absolute;
        font-size: 2 * $h1Size;
        top: $h1Size;
        left: auto;
        right: auto;
    }
    .landing-card {
        background-color: white;
        padding: 2em;
        border-radius: 27px;
        box-shadow: 0px 3px 6px rgba(0,0,0,.33);
        // text-align: center;
    }

    .landing-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .contactButton {
        // height: 3em;
        width: 50%;
        border-radius: 3em;
        background-color: $blue;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        box-shadow: 0px 3px 6px rgba(0,0,0,.33);
    }
    .contactGroup {
        margin-top: 1em;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .octoCat {
        height: 1.5 * $h1Size;
    }
    .contactButton:hover {
        cursor: pointer;
        box-shadow: inset 0px 3px 6px rgba(0,0,0,.33);
    }
}
.about-section {
    background-color: $blue;
    .content-card {
        display: grid;
        grid-template-rows: .25fr auto;
        background-color: white;
        color: black;
        font-family: 'Montserrat-Medium', sans-serif;
        border-radius: 27px;
        font-size: 1em;
        width: 75%;
        align-self: center;
        padding: 1em;
        box-shadow: 0px 3px 6px rgba(0,0,0,.33);
        ul {
            list-style-type: none;
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
            p {
                margin: 0;
            }
        }
    }
    .photo-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    img {
        width: 50%;
        height: auto;
        clip-path: circle(40% at center);
        justify-self: center;
        box-shadow: 0px 3px 6px rgba(0,0,0,.33);
    }
}

.experience-section {
    
    .slider-wrap {
        width: 80%;
    }
    .experience-card-wrapper {
        height: 100%;
        width: 100%;
        // background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .experience-card {
        color: black;
        background-color: white;
        border-radius: 42px;
        min-height: 26.5 * $pSize;
        width: 80%;
        text-align: left;
        box-shadow: 0px 3px 6px rgba(0,0,0,.33);
        padding: 1em;
        .experience-card-content-wrap {
            margin: 1.5em;
        }
    }
    .experience-switcher {
        width: 100%;
        margin-bottom: 1em;
        button {

            border: none;
            margin: 0 .1em;
            padding: .5em 1em;
            font-weight: 700;
        }
        button:focus {
            outline: none;
        }
        .experience-switcher-content-wrap {
            display: flex;
            justify-content: center;
        }
    }
    div:focus {
        outline: none;
    }
}

@media screen and (max-width: 20em){
    $pSize: .5em;
    $h1Size: 1.25em;
    $h2Size: .75em;
    h1 {
        font-size: $h1Size;
        margin: 0;
        padding: .5em 0em;
    }
    h2 {
        font-size: $h2Size;
        margin:0;
    }
    p {
        font-size: $pSize;
    }
}

@media screen and (min-width: 60em){
    .content-card {
        grid-template-columns: .5fr .5fr;
        grid-template-areas: 
        "about-content photo";
    }
    .photo-wrapper {
        grid-area: photo;
        height: 100%;
        width: 100%;
        img {
            width: 100%;
            max-width: 400px;
            height: auto;
            clip-path: none;
            border-radius: 27px;
        }
    }
    .about-content {
        grid-area: about-content;
    }
}